/.idea
.gradle
/local.properties
/.idea/workspace.xml
/app/app.iml
/.idea/libraries
.DS_Store
/build
/captures
/app/BlindAid.iml
/app/build
BlindAid.iml
/openCVLibrary300/build/
/openCVLibrary300/openCVLibrary300.iml
